body {
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	background: #e9e4e3;
}
a {
	color: #262626;
}
div {
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}
button.play-button {
	padding-left: 5px;
	padding-right: 5px;
}
.block {
	width: 100%;
}